<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
  </head>
  <body>
    <div>
      This is an example of Flask serving a full HTML file.  It doesn't really do
      much right now, but it has the potential to do more, such as run javascript
      code, display and send forms, and so on.  Additionally, Flask provides a
      convenient templating system that allows the sent HTML to change based on
      the serverside python code.
      <!-- <p>{{ message }}</p> // This is an example of a template-->
    </div>
  </body>
</html>